version: '3'
services:
  fastapi-app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./FastApi/ch1/:/app
    command: ["fastapi", "dev", "/app/main.py", "--host", "0.0.0.0"]
  
  postgres-db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"